@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Trend Sans Five';
}

.ring-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

ring-wrap {
  margin-right: -80% !important;
}

.btn-custom-width {
  width: 20rem;
}
